.button {
    cursor: pointer;
    border: none;
    font-size: 1rem;
    border-radius: 8px;
}

.primary {
    background: white;
    color: black;
    transition: 0.2s outline;
}

.primary:focus {
    outline: 2px solid rgb(98, 222, 249);
}

.primary:hover {
    outline: 2px solid rgb(98, 222, 249);
}

.secondary {
    background-color: black;
    color: white;
    transition: 0.3s opacity;
}

.secondary:hover {
    opacity: 0.6;
}

.secondary:focus {
    outline: none;
}

@media (prefers-color-scheme: light) {
    .primary {
        background: rgb(71, 70, 70);
        color: white;
        transition: 0.2s outline;
    }
}